
h1{
    text-align: center;
    color:darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px;
    background-color: aqua;
}
.game-container{
    display:flex;
    gap: 200px;
    padding-top:100px;
    text-align: center;
    justify-content: center;
}
body{
    background-color:darkviolet;
    margin-top:-80px;
    margin-left:10px;
    margin-right:10px;
}
.game-card{
    border:1px solid darkgreen;
    width:150px;
    height:150px;
    padding:50px;
    padding-top:-10px;
    border-radius:10px;
    box-shadow: inset 0 0 30px pink;
}
.s{
     border: 1px solid darkgreen;
    width:150px;
    height:150px;
    padding:50px;
    padding-top:-10px;
    border-radius: 10px;
    box-shadow: inset 0 0 30px pink;
}
button{
    padding: 10px;
    border: none;
    color:blue;
}
img{
    height: 50px;
    width: 50px;
}
a{
    text-decoration: none;
}
